<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <style type="text/css">
        .border {
            padding: 5px;
            margin-bottom: 10px;
            border: solid 1px black;
        }
    </style>
</head>
<body>
<h1>Меню пользователя</h1>
<form action="/profile/{{ user.getUserId() }}/update_name" method="POST">
    <input type="hidden" name="userId" value="{{ user.getUserId() }}">
    <p><b>Username:</b><br>
    <p><input type="text" name="userName" size="40" value="{{ user.getUserName() }}"></p>
    <p><input type="submit" value="update"></p>
</form>
<form action="/profile/{{ user.getUserId() }}/update_password" method="POST">
    <p><b>Password:</b><br>
    <p><input type="password" name="password" size="40"></p>
    <input type="hidden" name="userId" value="{{ user.getUserId() }}">
    <p><input type="submit" value="update"></p>
</form>

{% if photo is not empty %}
    <img src="data:image/jpg;base64,{{ photo }}" alt="Image" width="200" height="200"/>
{% endif %}

<form action="/profile/{{ user.getUserId() }}/update_photo" method="post" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="{{ user.getUserId() }}">
    <p><b>Photo:</b><br>
    <p><input type="file" name="photo"></p>
    <p><input type="submit" value="update"></p>
</form>

{% for post in posts %}
    <div class="border">
        <form action="/profile/{{ user.getUserId() }}/update_post/{{ post.postId }}" method="POST">
            <p><b>Post:</b><br>
            <p><input type="text" name="newPost" value="{{ post.post }}"></p>
            <input type="hidden" name="userId" value="{{  user.getUserId() }}">
            <input type="hidden" name="postId" value="{{ post.postId }}">
            <p><input type="submit" value="update"></p>
        </form>
    </div>
{% endfor %}
<details>
    <summary>Новый пост</summary>
    <div class="border">
        <form name="new_post" action="/profile/{{ user.getUserId() }}/add_post" method="POST">
            <p><b>Text</b></p>
            <p><input type="text" name="newPost"></p>
            <input type="hidden" name="userId" value="{{ user.getUserId() }}">
            <p><input type="submit" value="new post">
        </form>
    </div>
</details>
</body>
</html>